.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
  height: 100vh;
  background-image: radial-gradient(
    circle,
    #00ffff,
    #40e0d0,
    #00b7eb,
    #00a1d4,
    #0096c9,
    #072f5f,
    #00264d,
    #00172d,
    #000b18
  );
}

.astronautImg {
  position: absolute;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../public/Astronaut3.png");
  z-index: 1;
}

.text {
  color: "white";
}
