.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
  height: 100vh;
}

.astronautImg {
  position: absolute;
  bottom: 0;
  top: 0;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../public/Astronaut.jpg");
}
